/*
===============
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*
===============
Variables
===============
*/
:root {
    --text-сolor: #5B5B5B;
    --title-сolor: #161414;
    --text-muted: #979797;
    --accent: #7B61FF;
    
    --header-сolor: #FFFFFF;
    --text-article: #878787;

    --ui-light-purple: #F6F4FF;
    --ui-btn-hover: #6344ff;

    --font-main: 'Poppins', sans-serif;
}
/*
===============
Global Styles
===============
*/
body{
    font-family: var(--font-main);
}
.header a{
    color: var(--header-сolor);
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
}
.container--header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header {
    padding: 31px 0 100px;
    height: 800px;
    color: var(--header-сolor);
    background-color: black;
    background-image: url('../images/header-bg.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 0 0 54px 54px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 32px;
}
.logo {
    flex-shrink: 0;
}
.nav__list {
    display: flex;
    gap: 54px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}
.nav__list-link {
    opacity: 0.7;
}
.nav__list-link--active {
    opacity: 1;
}

/* User */

.user {
    display: flex;
    align-items: center;
    gap: 8px;
}
.user__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.user__greeting {
    opacity: 0.5;
}
.user__name {
    font-weight: 600;
}
.user__avatar {
    position: relative;
}
.user__avatar::after {
    position: absolute;
    top: 0;
    right: 0;

    content: '';
    display: block;
    width: 12px;
	height: 12px;
    background-color: #ff0000;
	border-radius: 50%;
}
.user__img {
    border-radius: 50%;
}

/* Header Content */

.header__content {
    flex-direction: column;
    row-gap: 32px;
    display: flex;
    align-items: center;
    text-align: center;
}
.header__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 62px;
}
.button {
    background: var(--accent);
    border-radius: 12px;
    color: var(--header-сolor);

    transition: background-color 0.2s ease-in;
}
.button:hover {
	background-color: var(--ui-btn-hover);
}
.button--huge {
    padding: 24px;
    display: flex;
    column-gap: 8px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

/* Form */

.form {
    display: flex;
    align-items: center;

    width: 1140px;
    height: 88px;
    padding: 8px;

    color: var(--title-сolor);
    background-color: var(--header-сolor);
    border-radius: 12px;
}
.form__input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 16px 56px;

    background-repeat: no-repeat;
    background-position: 16px 24px;
}
.form__input--location {
    width: 300px;
    background-image: url("../images/icons/location.svg");
}
.form__input--activity {
    width: 255px;
    background-image: url("../images/icons/activity.svg");
}
.form__input--date {
    width: 255px;
    background-image: url("../images/icons/date.svg");
}
.form__input--guests {
    width: 255px;
    background-image: url("../images/icons/guests.svg");
}
.form__label {
    font-size: 14px;
    font-weight: 300;
    color: var(--text-сolor);
}
.form__input {
    font-size: 16px;
    font-weight: 500;
    color: var(--title-сolor);
}
.form__input::placeholder {
    color: var(--title-сolor);
}
.button--search {
    width: 60px;
    height: 60px;
    padding: 18px;
}
/*
===============
Popular Section
===============
*/
.main {
    padding: 120px 0;
    display: grid;
    gap: 120px;
}
.section__header {
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-1 {
    font-size: 32px;
    font-weight: 600;
    color: var(--title-сolor);
}
.section__cards {
    display: grid;
    column-gap: 32px;
}
.section__cards--popular {
    grid-template-columns: repeat(6, 1fr);
}
.card {
    position: relative;
}
.card__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card__img {
    border-radius: 12px;
    margin-bottom: 8px;
}
.card__title {
    font-size: 16px;
    font-weight: 500;
    color: var(--title-сolor);
}
.card__location {
    position: relative;
    z-index: 1;
    font-size: 13px;
    color: var(--text-muted);
}
/*
===============
Hotel Section
===============
*/
.button-more{
    display: flex;
    gap: 4px;
    align-items: center;

    padding: 10px;
    height: 44px;
    background-color: var(--ui-light-purple);
    border-radius: 12px;
    font-size: 16px;
    color: var(--accent);

    transition: background-color 0.2s ease-in;
    &:hover{
        background-color: #dcd8f1;
    }
}
.section__cards--4-in-row {
    display: grid;
    grid-template-columns: repeat(4, 320px);
    gap: 32px;
}
.card__img--hotel {
    margin-bottom: 10px;
}
.card__title--hotel {
    margin-bottom: 12px;
}
.card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__location--icon {
    padding-left: 20px;
    background: url(../images/icons/location.png);
    background-position: 0px 1px;
    background-repeat: no-repeat;
}
.card__stars {
    display: flex;
    align-items: center;
    gap: 2px;
}
/*
===============
Activities Section
===============
*/
.card__img--activities {
    margin-bottom: 16px;
}